body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 60%;
    border: 2px solid rgb(134,144,238);
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;

}
.flex-item{
    background-color: brown;
    color: #77b37e;
    padding: 20px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;

}
.nested-container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    
}
.nested-item{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
} 
.p{
    color: black;

}




